body {
  font-family: Arial;
  padding: 20px;
  background: white;
}

h1 {
  color: #F4A7B9;
}

.card {
  background: #F5EDE6;
  padding: 15px;
  border-radius: 12px;
  margin: 10px 0;
}

button {
  padding: 8px 12px;
  margin: 5px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.present { background: green; color: white; }
.absent { background: red; color: white; }

input, select {
  padding: 8px;
  margin: 5px;
}

#result {
  font-size: 22px;
  color: #F4A7B9;
}
